@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<RentalMgtSystem.Models.UtilityAccount>
<div class="form-container form-list">
    <h3>List of Utility Accounts</h3>
    <a asp-action="Create">+ Add New</a>
    <table class="list-items">
        <thead>
            <tr>
                <th>Account ID</th>               
                <th>Account No</th>
                <th>Unit</th>
                <th>Utility Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model)
            {
                <tr>

                    <td>@Html.DisplayFor(modelname => account.UtilityAccountID)</td>
                    <td>@Html.DisplayFor(modelname => account.UtilityAccountNo)</td>
                   
                    <td>@Html.DisplayFor(modelname => account.UtilityType)</td>
                    <td>
                        <a asp-route-id="@account.UtilityAccountID" asp-action="Edit">Edit</a> |
                        <a asp-route-id="@account.UtilityAccountID" asp-action="Delete" method="post">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (TempData["Message"] != null)
    {
        <div class="text-success">@TempData["Message"]</div>
    }
</div>