@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Utility";
}


@model IEnumerable<RentalMgtSystem.Models.Utility>

<style>
    
</style>
<div class="form-container form-list">
    <h3>List of Utility Bills</h3>
    <div class="d-flex justify-content-between">
        <a asp-action="Create">+ Add New</a> 
        @using (Html.BeginForm("Index", "Utility", FormMethod.Get))
        {
            <label for="sortOrder">Sort by:</label>
            @Html.DropDownList("sortOrder", (SelectList)ViewBag.SortOptions, new { onchange = "this.form.submit();" })
            @Html.DropDownList("sortDir", (SelectList)ViewBag.SortDir, new { onchange = "this.form.submit();" })
        }
    </div>
    <div class="form-content">
    <table class="list-items">
        <thead>
            <tr>
                <th> Utility Id</th>
                <th>Utility Type</th>                
                <th>Account No. </th>
                <th>Billing Date</th>                
                <th>Billing Amount</th>                
                <th>Main Meter Reading</th>
                <th>Submeter Reading</th>
                <th>Payment Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var utility in Model)
            {
                <tr>

                    <td>@Html.DisplayFor(modelname => utility.UtilityID)</td>
                    <td>@Html.DisplayFor(modelname => utility.UtilityType)</td>
                    <td>@Html.DisplayFor(modelname => utility.UtilityAccountNo)</td>
                    <td>@Html.DisplayFor(modelname => utility.BillingDate)</td>
                    <td>@Html.DisplayFor(modelname => utility.BillingAmount)</td>
                    <td>@Html.DisplayFor(modelname => utility.MainMeterReading)</td>
                    <td>@Html.DisplayFor(modelname => utility.SubmeterReading)</td>
                    <td>@Html.DisplayFor(modelname => utility.PaymentDate)</td>
                    <td class="link-actions">
                        <a asp-route-id="@utility.UtilityID" asp-action="Edit">Edit</a> |
                        <a asp-route-id="@utility.UtilityID" asp-action="Delete" method="post">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="text-success">@TempData["Message"]</div>
    }
</div>
